body {
    background-color: #1e1e1e;
}

/*.button {*/
/*    background-color: #13d6ff;*/
/*    border-color: black;*/
/*    border-width: 1px;*/
/*    color: white;*/
/*    padding: 7px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

input[type="file"] {
    display: none;
}

.button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, serif;
    font-size: 15px;
    color: white;
    background-color: #117189;
}

.button:hover {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, serif;
    font-size: 15px;
    color: white;
    background-color: #0f3546;
}

.insert {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, serif;
    font-size: 13px;
    color: black;
    background-color: white;
}

h1 {
    font-family: Trebuchet MS, serif;
    font-size: 38px;
    color: white;
    letter-spacing: 5px;
    border-top: 2px solid white;
}

h2 {
    font-family: Trebuchet MS, serif;
    font-size: 24px;
    color: white;
    letter-spacing: 3px;
    border-bottom: 2px solid white;
}

h3 {
    font-family: Arial, serif;
    font-size: 15px;
    color: #13d6ff;
    letter-spacing: 1px;
}

.nowplaying {
    font-family: Trebuchet MS, serif;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
    background-color: #1e1e1e;
    border: none;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    background: #373737;
    border-bottom: 10px solid #373737;
    align-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

nav a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: #13d6ff;
    float: left;
    width: 75%;
    padding: 5px 2% 10px;
    font-family: Arial, serif;
}

nav a:hover {
    color: #117189;
}

aside {
    background: #373737;
    border-top: 20px solid #1e1e1e;
    border-bottom: 10px solid #1e1e1e;
    color: #13d6ff;
    padding: 2% 5% 90%;
    float: left;
    width: 15%;
}

.main {
    float: right;
    padding: 25px 0 0 25px;
    width: 70%;
    align-content: center;
}

div p {
    font-family: Trebuchet MS, serif;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
}

#suggestionbar {
    padding-top: 100px;
}

.fileButton {
    padding-top: 60px;
}

table th {
    font-family: Arial, serif;
    font-size: 18px;
    color: #13d6ff;
    letter-spacing: 1px;
    padding: 2px 2px 2px 2px;
}

table tr td {
    font-family: Trebuchet MS, serif;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    padding: 5px 5px 5px 5px;
}
