<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/ico"/>
</head>
<body>
<div class="header-container">
    <header class="wrapper">
        <br>
        <h1>Music Player</h1>
        <h3>your browser music player</h3>
    </header>
</div>
<aside>
    <nav>
        <ul>
            <li><a th:href="@{../player}">now playing</a></li>
            <li><a th:href="@{../avourites}">favourites</a></li>
            <li><a th:href="@{../playlist}">playlists</a></li>
            <li><a th:href="@{../shuffle}">shuffle</a></li>
        </ul>
    </nav>
</aside>
<div class="main">
    <br>
    <h2>All Music</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
        </tr>
        <tr th:each="music : ${allMusic}">
            <td th:text="${music.title}">title</td>
            <td th:text="${music.album}">album</td>
            <td th:text="${music.artist}">artist</td>
        </tr>
    </table>
    <br><br>
    <form action="#" method="post" th:action="@{/favourites}" th:object="${favourites}">
        <table>
            <tr>
                <td><p>Search:</p></td>
                <td><input class="insert" th:field="*{search}" type="text"></td>
            </tr>
        </table>
    </form>
    <a class="button" href="/favourites">Sort by Title</a>
</div>
</body>
</html>
