<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/ico"/>
</head>
<body>
<div class="header-container">
    <header class="wrapper">
        <br>
        <h1>Music Player</h1>
        <h3>your browser music player</h3>
    </header>
</div>
<aside>
    <nav>
        <ul>
            <li><a th:href="@{player}">now playing</a></li>
            <li><a th:href="@{favourites}">favourites</a></li>
            <li><a th:href="@{playlist}">playlists</a></li>
            <li><a th:href="@{shuffle}">shuffle</a></li>
        </ul>
    </nav>
</aside>
<div class="main">
    <br>
    <h2>Create a Playlist</h2>
    <form action="#" method="post" th:action="@{/playlist}" th:object="${playlist}">
        <table>
            <tr>
                <td><p>Playlist Name:</p></td>
                <td><input class="insert" th:field="*{name}" type="text"></td>
            </tr>
            <tr>
                <td><p>Description:</p></td>
                <td><input class="insert" th:field="*{description}" type="text"></td>
            </tr>
            <tr>
                <td><input class="button" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
