<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/ico"/>
</head>
<body>
<div class="header-container">
    <header class="wrapper">
        <br>
        <h1>Music Player</h1>
        <h3>your browser music player</h3>
    </header>
</div>
<aside>
    <nav>
        <ul>
            <li><a th:href="@{player}">now playing</a></li>
            <li><a th:href="@{favourites}">favourites</a></li>
            <li><a th:href="@{playlist}">playlists</a></li>
            <li><a th:href="@{shuffle}">shuffle</a></li>
        </ul>
    </nav>
</aside>
<div class="main">
    <h2>Results matching your search:</h2>
    <table>
        <tr>
            <th>Playlist Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td th:text="${playlist.name}">playlist name</td>
            <td th:text="${playlist.description}">description</td>
        </tr>
    </table>
    <br><br>
    <a class="button" href="/playlist">Back</a>
</div>
</body>
</html>
