<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/ico"/>
</head>
<body>
<div class="header-container">
    <header class="wrapper">
        <br>
        <h1>Music Player</h1>
        <h3>your browser music player</h3>
    </header>
</div>
<aside>
    <nav>
        <ul>
            <li><a th:href="@{player}">now playing</a></li>
            <li><a th:href="@{favourites}">favourites</a></li>
            <li><a th:href="@{playlist}">playlists</a></li>
            <li><a th:href="@{shuffle}">shuffle</a></li>
        </ul>
    </nav>
</aside>
<div class="main">
    <p>you're listening to:</p>
    <input class="nowplaying" id='outputfile' name='outputfile' readonly type='text'/>
    <br>
    <div>
        <br>
        <audio autoplay controls id="audio" loop preload="metadata"></audio>
        <br>
    </div>
    <div class="fileButton">
        <label class="button" for="fileupload">
            Choose Music
        </label>
    </div>
    <input id="fileupload" name="fileupload" onchange="getOutput()" type="file"/>
    <script>var blob = window.URL || window.webkitURL;
    document.getElementById('fileupload').addEventListener('change', function () {
        var file = this.files[0];
        document.getElementById('audio').src = blob.createObjectURL(file);
    });</script>
    <br>
    <div id="suggestionbar">
        <h3>Like this song? Add to your favourites now and create playlists!</h3>
        <form action="#" method="post" th:action="@{/player}" th:object="${player}">
            <table>
                <tr>
                    <td><p>Title:</p></td>
                    <td><input class="insert" th:field="*{title}" type="text"></td>
                </tr>
                <tr>
                    <td><p>Album:</p></td>
                    <td><input class="insert" th:field="*{album}" type="text"></td>
                </tr>
                <tr>
                    <td><p>Artist:</p></td>
                    <td><input class="insert" th:field="*{artist}" type="text"></td>
                </tr>
                <tr>
                    <td><input class="button" type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script th:src="@{/js/index.js}" type="text/javascript"></script>
</body>
</html>
