<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/ico"/>
</head>
<body>
<div class="header-container">
    <header class="wrapper">
        <br>
        <h1>Music Player</h1>
        <h3>your browser music player</h3>
    </header>
</div>
<aside>
    <nav>
        <ul>
            <li><a th:href="@{player}">now playing</a></li>
            <li><a th:href="@{favourites}">favourites</a></li>
            <li><a th:href="@{playlist}">playlists</a></li>
            <li><a th:href="@{shuffle}">shuffle</a></li>
        </ul>
    </nav>
</aside>
<div class="main">
    <h2>Shuffled!</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
        </tr>
        <tr th:each="music : ${randomshuffle}">
            <td th:text="${music.title}">title</td>
            <td th:text="${music.album}">album</td>
            <td th:text="${music.artist}">artist</td>
        </tr>
    </table>
    <br><br>
    <h3>Refresh for a new order each time!</h3>
    <br><br>
    <a class="button" href="/player">To Music Player</a>
</div>
</body>
</html>
